<li>
	Order # {{orderId}} ||
	{{supplierId}} ||
	Order Date: {{orderDate}} ||
	Recieved: {{recievedDate}} ||
	Amazon Recieved: {{amazonRecievedDate}}
	<a href="/supplierOrderStatus/update/{{id}}">
		<div class="btn btn-info">Update</div>
	</a>
		<div id="delete-button" class="btn btn-danger">Delete</div>
</li>
<script>
	$('#delete-button') //TODO:
</script>